@model Job_Search_MVC_Application.Models.Login
@{
    ViewBag.Title = "AdminCompanyHomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminCompanyHomePage</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Add Job", "AddJob_PageLoad", "AddJob")</li>
    </ul>
</div>

